h2 {
    text-align: center;
    font-weight: bold;
}

.btn-close {
    margin-top: 1px;
}

.login-form {
    width: 100%;
    min-height: 90%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    box-shadow: 0px 0px 20px #00000020;
    padding: 20px;
    border-radius: 8px;
    width: 40%;
    margin: auto;
}

.form-group {
    width: 100%;
    margin-top: 20px;
}

.form-group.email,
.form-group.password {
    display: flex;
    flex-direction: column;
}

.form-group input {
    border: 1.5px solid rgba(128, 128, 128, 0.418);
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 4px;
}

button.btn {
    float: right;
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
}

label {
    font-size: 18px;
    font-weight: bold;
}

.form-group a {
    font-size: 18px;
}

.btn-primary a {
    color: white;
    text-decoration: none;
}

.flex {
    display: flex;
    justify-content: left;
}

@media only screen and (max-width: 1024px) {
    .container {
      width: auto;
    }
  }