{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }
        body {
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/list-users/1">User Authentication</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% block profileactive %} {% endblock profileactive %}" href="/accounts/profile/">{{user.first_name}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block changepassactive %} {% endblock changepassactive %}" href="/change-password">Change Password</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block logoutactive %} {% endblock logoutactive %}" href="/logout">Log out</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block body %}

    {% endblock body %}

</body>

</html>